.board-container {
    width: 100%;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 40px;
}

.board-list-button {
    align-self: flex-end;
}

.board-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.board-title {
    width: 40%;
    font-size: 24px;
    border-radius: 6px;
    background-color: #f3f0f0;
    border: none;
    padding: 20px 0px 20px 40px;
}

.board-nickname {
    width: 20%;
    font-size: 24px;
    border-radius: 6px;
    background-color: #f3f0f0;
    border: none;
    padding: 20px 0px 20px 40px;
}

.board-created-at {
    width: 40%;
    font-size: 24px;
    border-radius: 6px;
    background-color: #f3f0f0;
    border: none;
    padding: 20px 0px 20px 40px;
}

.board-views, .board-goods {
    width: 10%;
    font-size: 24px;
    border-radius: 6px;
    background-color: #f3f0f0;
    border: none;
    padding: 20px 0px 20px 40px;
}

.board-content {
    width: 100%;
    font-size: 24px;
    height: 600px;
    resize: none;
    border-radius: 6px;
    background-color: #f3f0f0;
    border: none;
    padding: 20px 0px 20px 40px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.comment-wrapper {
    display: flex;
    width: 80%;
    gap: 20px;
    margin: auto;
    background-color: #f3f0f0;
}

.comment-input-wrapper {
    width: 80%;
    margin: auto;
    background-color: #f3f0f0;

}

.input-comment {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 90%;
    margin-left: 20px;
}

.comment-input-wrapper > form {
    display: flex;
    flex-direction: row;
}