* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

    display: flex;
    flex-direction: row;
    justify-content: right;
}


/*buttons*/

.button-black-m {
    background-color: black;
    border: none;
    color: white;
    width: 116px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
}

.button-black-l {
    background-color: black;
    border: none;
    color: white;
    width: 177px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;

}

.button-black-xl {
    background-color: black;
    border: none;
    color: white;
    width: 311px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;

}

.button-black-m:hover {
    background-color: #403535;
}

.button-black-l:hover {
    background-color: #403535;
}

.button-black-xl:hover {
    background-color: #403535;
}

/*table*/
.main-table {
    width: 100%;
    border-collapse: collapse;
}

.main-table-head {
    background-color: gray;
    border-radius: 10px;

}

.main-table-body tr {
    border-bottom: 1px solid black;
}

/*input*/
.input-grey-m {
    width: 311px;
    height: 54px;

}

/*footer*/
footer {
    margin-top: 100px;

    display: flex;
    justify-content: right;
}

/*pagination*/
.pagination {
    margin: auto;
}

.pagination a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.pagination-selected {
    font-size: 40px !important;
    color: blue !important;
}