<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>gesipan</title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/user/register.css">
    <link rel="stylesheet" href="/css/user/info.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script defer src="/js/index.js"></script>
    <script defer src="/js/board/write.js"></script>
    <script defer src="/js/user/login.js"></script>
    <script defer src="/js/user/register.js"></script>
    <script defer src="/js/user/info.js"></script>

    <script defer>
        {% if message %}
        alert("{{message}}")
        {% endif %}
    </script>
</head>


<body>
<header>
    {% if user.uid %}
    <button class="button-black-m" onclick="getInfo('{{user.uid}}')">회원정보</button>
    {% else %}
    <button class="button-black-m" onclick="getLogin()">로그인</button>
    {% endif %}
</header>


<!-- Image Slider, table-->
<main>
    <div class="main-image-slider"></div>
    <table class="main-table">
        <thead class="main-table-head">
        <tr>
            <th>no</th>
            <th>글 제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>추천수</th>
            <th>작성 시간</th>
        </tr>
        </thead>

        <tbody class="main-table-body">

        {% for board in boards %}
        <tr>
            <td>{{board.uid}}</td>
            <td><a href="/boards/read?id={{board.uid}}">{{board.title}}({{board.comments}})</a></td>
            <td>{{board.nickname}}</td>
            <td>{{board.views}}</td>
            <td>{{board.goods}}</td>
            <td>{{board.created_at}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>

<footer>
    {% if user.uid %}
    <button class="button-black-m" onclick="location = '/boards/write'">글작성</button>
    {% else %}
    <button class="button-black-m" onclick="location = '/boards/write'">글작성</button>

    {% endif %}
</footer>


</body>
</html>