{{message}}
<div class="info-modal-element">
    <div>{{user.nickname}}</div>
    <div>{{user.id}}</div>
    <div>
        <button class="button-black-m" onclick="location.href = '/users/following'">팔로잉({{user.followings}})</button>
        <button class="button-black-m" onclick="location.href = '/users/follower'">팔로워({{user.followers}})</button>
        <button class="button-black-m" onclick="location.href = '/users/logout'">로그아웃</button>
    </div>
    <button class="button-black-xl">작성글 목록({{user.boards}})</button>
</div>