<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gesipan</title>
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="/css/user/list.css">
    <link rel="stylesheet" href="/css/user/info.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


    <script defer src="/js/index.js"></script>
    <script defer src="/js/user/info.js"></script>


    <script defer>
        {% if message %}
        alert("{{message}}")
        {% endif %}
    </script>
</head>
<body>

<header>
    <button class="button-black-l" onclick="location.href ='/'">글 목록</button>
    <button class="button-black-m" onclick="getInfo('{{user.uid}}')">회원정보</button>

</header>

<main>

    <div class="board-list-title">
        <div>글 제목</div>
        <div>조회수</div>
        <div>좋아요</div>
        <div>작성 시간</div>
    </div>
    {% for board in boards %}
    <div class="board-list-content">
        <div>{{board.title}}({{board.comments}})</div>
        <div>{{board.views}}</div>
        <div>{{board.goods}}</div>
        <div>{{board.created_at}}</div>
    </div>
    {% endfor %}

</main>


<footer></footer>
</body>
</html>