{{message}}
<form class="form-login" method="post" action="/users/login" id="login-form-element">

    <input type="text" placeholder="ID" class="input-grey-m" name="id">
    <input type="password" placeholder="Password" class="input-grey-m" name="pw">
    <div>
        <button type="button" class="button-black-l" onclick="getRegister()">회원가입</button>
        <button type="submit" class="button-black-m">로그인</button>
    </div>

    <button type="button" class="button-black-xl">비밀번호 재설정</button>

</form>
