.info-modal-element {
    display: flex;
    height: 100%;

    flex-direction: column;
    align-items: center;
    gap: 25px;
    justify-content: center;


}

.info-modal-element > div:nth-child(1), .info-modal-element > div:nth-child(2) {
    align-self: start;
    margin-left: 26px;
}