<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/board/read.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/board/read.js"></script>
</head>
<body>

<header>
    {% if user.uid !== board.board_user_uid %}
    {% if user.is_good %}
    <button type="button" class="button-red-heart"
            onclick="location.href = '/boards/notgood?id={{board.uid}}'">❤️
    </button>
    {% else %}
    <button type="button" class="button-white-heart"
            onclick="location.href = '/boards/good?id={{board.uid}}'">🤍
    </button>
    {% endif %}
    {% if user.is_following %}
    <button type="button" class="button-black-m"
            onclick="location.href = '/boards/unfollowing?board_uid={{board.uid}}&user_uid={{board.board_user_uid}}'">언
        팔로잉
    </button>
    {% else %}
    <button type="button" class="button-black-m"
            onclick="location.href = '/boards/following?board_uid={{board.uid}}&user_uid={{board.board_user_uid}}'">팔로잉
    </button>
    {% endif %}

    {% endif %}
    <button type="button" class="button-black-m" onclick="location.href = '/'">글 목록</button>
</header>

<main>
    <div class="board-container">
        <div class="board-wrapper">

            <div class="board-header">
                <div class="board-title">{{board.title}}</div>
                <div class="board-nickname">{{board.nickname}}</div>
                <div class="board-created-at">{{board.created_at}}</div>
                <div class="board-views">{{board.views}}</div>
                <div class="board-goods">{{board.goods}}</div>
            </div>
            <div class="board-content">{{board.content}}</div>

        </div>
    </div>

    {% if user.uid === board.board_user_uid %}
    <div class="board-buttons">
        <button class="button-black-m" onclick="location.href = '/boards/modify?id={{board.uid}}'">수정</button>
        <button class="button-black-m" onclick="location.href = '/boards/delete?id={{board.uid}}'">삭제</button>
    </div>
    {% endif %}

    <div class="comment-container">
        {% for comment in comments %}
        <div class="comment-wrapper">
            <div>{{comment.nickname}}</div>
            <div>{{comment.comment}}</div>
            <div>{{comment.created_at}}</div>
        </div>
        {% endfor %}

        <div class="comment-input-wrapper">
            <form method="post" action="/boards/comment?id={{board.uid}}">
                <input class="input-comment" type="text" name="comment" placeholder="댓글 작성하기">
                <button type="submit" class="button-black-m">완료</button>
            </form>
        </div>
    </div>
</main>


<footer></footer>


</body>
</html>