<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gesipan</title>

    <link rel="stylesheet" href="../public/css/board/write.css">
    <link rel="stylesheet" href="../public/css/index.css">

</head>
<body>

<div class="form-container">

    <form class="form-wrapper">
        <input class="form-title" placeholder="글 제목">
        <textarea class="form-content" placeholder="글 내용"></textarea>
        <button type="submit" class="button-black-l board-write-button">글 작성 완료</button>
    </form>
</div>


</body>
</html>